@page "/profile"

<MudStack Row="false">
    <MudStack Row="true">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Avatar</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="false" TData="object">
                <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large"/>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large"/>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large"/>
                    </div>
                </MudCarouselItem>
            </MudCarousel>
            <MudCardActions Style="display: flex; justify-content: space-between; align-items: center">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"/>
                <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" Files="File">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context.Id">
                            Upload
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudCardActions>
        </MudCard>
        <MudCard Style="width: 100%">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Information</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Style="padding-top: 0; padding-bottom: 0">
                <MudForm Style="width: 100%">
                    <MudTextField Variant="Variant.Filled" T="string" Label="First name" InputType="InputType.Text"/>
                    <MudTextField Variant="Variant.Filled" T="string" Label="Last name" InputType="InputType.Text"/>
                    <MudTextField Variant="Variant.Filled" T="string" Label="Bio" InputType="InputType.Text" Lines="2"/>
                </MudForm>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary"/>
            </MudCardActions>
        </MudCard>
    </MudStack>
    <MudStack Row="true" Style="width: 100%">
        <MudStack Row="false" Style="width: 50%">
            <MudCard>
                <MudCardContent>
                    <MudStack Row="true">
                        <MudForm Style="width: 100%">
                            <MudTextField Variant="Variant.Filled" T="string" Label="Username" InputType="InputType.Text"/>
                        </MudForm>
                        <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary"/>
                    </MudStack>
                </MudCardContent>
            </MudCard>
            <MudCard>
                <MudCardContent>
                    <MudStack Row="true">
                        <MudForm Style="width: 100%">
                            <MudTextField Variant="Variant.Filled" T="string" Label="Email" InputType="InputType.Email"/>
                        </MudForm>
                        <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary"/>
                    </MudStack>
                </MudCardContent>
            </MudCard>
            <MudCard>
                <MudCardContent>
                    <MudStack Row="true">
                        <MudForm Style="width: 100%">
                            <MudTextField Variant="Variant.Filled" T="string" Label="Phone number" InputType="InputType.Telephone"/>
                        </MudForm>
                        <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary"/>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudStack>
        <MudStack Style="width: 50%">
            <MudCard>
                <MudCardContent>
                    <MudForm Style="width: 100%">
                        <MudTextField Variant="Variant.Filled" T="string" Label="Current password" InputType="InputType.Password"/>
                        <MudTextField Variant="Variant.Filled" T="string" Label="New password" InputType="InputType.Password"/>
                        <MudTextField Variant="Variant.Filled" T="string" Label="Confirm new password" InputType="InputType.Password"/>
                    </MudForm>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary"/>
                </MudCardActions>
            </MudCard>
        </MudStack>
    </MudStack>
</MudStack>